*{

padding: 0;
margin: 0;

}

/*establece el color de fondo de la pagina */

body {
    background-color: #f0e9d5; 
    margin: 0; /* Elimina márgenes predeterminados */
}

.name{
  margin-top: 30px ;
  margin-bottom: 30px ;
  
}

.menu{
  margin-top: 30px ;
  margin-bottom: 30px ;
}




/*ESTO ES PARA LOS COLORES DE LAS LETRAS Y SUS RESPECTIVOS TIPOS*/

/*establece el color de fondo de h1 */
h1
{
  text-align: center;
  background-color: #b0936c;
  color: black;
  
}   

/*establece el color de fondo de h2 */
h2
{
  margin-top: 20px ;
  text-align: center;
  background-color: #b0936c;
  color: black;
  padding: 20px 0;

}

/*establece el color de fondo del parrafo */
p
{
  text-align: center;
  background-color: #f0e9d5;
  color: black;
}




/*TABLA*/
/*establece el color  de th */
th
{
  
  border: 2px solid #6c4a1c
}

/*establece el color  del td */
td
{
  border: 2px solid #6c4a1c;
}

/*establece el color del section */
section
{
  color: #6c4a1c;
  
}

/*centra la tabla y le agrega un espacio para que no quede  pegado con los textos*/
table 
{
    margin: 30px auto; /* Espacio + centrado */
    border-collapse: collapse;
    width: 80%;
}







/*ESTO ES PARA LA BARRA DE NAVEGACION*/

/*establece el color de la barra de navegacion */
nav ul{
  background-color: #b0936c;
  width: 100%;
  list-style-type: none;
  text-align: center;
}


/*centra la barra de navegacion */
nav li
{
  display: inline-flex;
}


/*le da formato a la barra de navegacion */
nav a 
{
  text-decoration: none;
  color: black;
  padding: 10px;
  width: 150px;
  
}

/*permite que al pasar el mouse por la barra cambie de color */
nav li :hover
{
  background-color: #fce1bc;
}

footer
{
  width: 100%;
  height: 250px;
  background-color: #b0936c;
  text-align: center;
  color: black;
  
}




/*le da formato a las clases .imagen */
.imagen
{
  width: 170px;
  height: 175px;
  border-radius: 50% ;
  margin: 50px;
  object-fit: cover;
  
  
 
}


/*le da formato a las clases .imagen */
.imagen2
{
  width: 175px;
  height: 175px;
  border-radius: 50% ;
  margin: 50px;
  object-fit: cover;
}



/*se centra la imagen inicial*/
.yo
{
    margin: 30px auto; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}


html 
{
    scroll-behavior: smooth;  /* Esto hace la transición suave */
}

/*para darle formato a la parte de gustos de la pagina*/
.galeria-imagenes 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

/*para darle formato a la parte de gustos de la pagina a la figura*/
.galeria-imagenes figure 
{
  margin: 0;
}

/*para darle formato a la parte de gustos de la pagina al figcaption*/
.galeria-imagenes figcaption {
  color: black;
  text-align: center;
  margin-top: 8px;
  font-size: 0.9em;
}


